body {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  line-height: 1.4;
}

* {
  background-color: rgb(12, 31, 31);
  color: white;
}

nav {
  padding: 10px;

  background-color: rgb(3, 3, 3);
}
img {
  width: 100%;
}
nav a {
  padding-left: 60px;
  text-decoration: none;
  background-color: rgb(3, 3, 3);
  padding-right: 50px;
}
.mainbody {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 30%;
  order: 1;
}
.gallery {
  width: 60%;
  order: 2;
}
hr {
  color: white;
}
.details {
  display: flex;
  justify-content: space-between;
}
.Subscription {
  width: 50%;
  order: 1;
}
.OtherServices {
  width: 50%;
  order: 2;
}

span {
  background-color: white;
  color: black;
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}
footer {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
}

input {
  background-color: blanchedalmond;
  color: black;
}
ul {
  list-style-type: none;
}
.labels {
  width: 25%;
}

.inputs {
  width: 25%;
}

button {
  background-color: whitesmoke;
  color: black;
  height: 40px;
  width: 100px;
}
.main :p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
